.jumbotron .container {
  	position: relative;
  	top:30px;	
}

.jumbotron h1 {
	color: #2c3e50;
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
}

.jumbotron h2 {
	color: #e67e22;
	font-family: 'Roboto Slab', serif;
	font-size: 48px;
}
.jumbotron p {
	color: #34495e;
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
} 

.nav a {
	font-family: 'Roboto Slab', serif;
	color: #5a5a5a;
  	font-size: 18px;
  	padding: 14px 10px;
} 

.nav li {
    display: inline;
}

.element{
	display: inline;
	color: #e67e22;
	font-size: 48px;
}

#typed-cursor{
	font-size: 48px;
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

#video-bg {
position: fixed;
right: 0;
bottom: 0;
width: auto;
min-width: 100%;
height: auto;
min-height: 100%;
z-index: -100;
background: transparent url(http://video-js.zencoder.com/oceans-clip.png) no-repeat;
background-size: cover;
}