.jumbotron h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 28px;
}

.jumbotron p {
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
} 

.nav {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
} 

.nav li {
    display: inline;
}