.jumbotron {
	background-image: url("bg.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}


.jumbotron .container {
  	position: relative;
  	top:150px;
  	
}

.jumbotron h1 {
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 48px;
}

.jumbotron p {
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 38px;
} 

.nav a {
	font-family: 'Roboto Slab', serif;
	color: #5a5a5a;
  	font-size: 28px;
  	font-weight: bold;
  	padding: 14px 10px;
  	text-transform: uppercase;
} 

.nav li {
    display: inline;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("bg.jpg") no-repeat bottom center scroll; /* http://unsplash.com/post/55049061477/download-luke-chesser */
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}